/*
   File:   %<%NAME%>%.%<%EXTENSION%>%
   Author: %<%USER%>%

   Created on %<%DATE%>%, %<%TIME%>%
 */

#include <pic16regs.h>

void main(void)
{
    //Infinite loop
    for(;;)
    {

    }
}

void highInterrupt(void) __interrupt(0)
{

}
